@font-face {
  font-family: CommitMono;
  src: url("/fonts/commit-mono-regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: CommitMono;
  src: url("/fonts/commit-mono-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: CommitMono;
  src: url("/fonts/commit-mono-bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: CommitMono;
  src: url("/fonts/commit-mono-bold-italic.otf");
  font-style: italic;
  font-weight: 700;
}

:root {
  font-family: CommitMono;
  font-feature-settings: "cv01" 1, "cv02" 1, "cv06" 1, "cv07" 1, "cv10" 1, "cv11" 1;
  font-size: 10px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2%;
  line-height: 3.4rem;
}

.body {
  font-size: 1.8rem;
  letter-spacing: 2%;
  line-height: 3.2rem;
}

.headline {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2%;
  line-height: 2.4rem;
}

.subheadline {
  font-size: 1.2rem;
  letter-spacing: 2%;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.label {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 2.4rem;
  text-transform: uppercase;
}